#gitInfoWrapper {
    border: 1px solid black;
}

#gitStatusPre {
    white-space: pre;
    color: black;
}

html, body {
    height: 100%;
    width: 100%;
    color: #DDD;
    background-color:#232;
}